* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   font-family: "Cairo", sans-serif;
}
.cont {
   margin-top: 20vh;
}
.cont .contcont .bac1,
.cont .contcont .bac2 {
   height: 300px;
   width: 300px;
   border-radius: 20px;
   cursor: pointer;
   box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.75);
}
.cont .contcont .bac1 {
   background-image: linear-gradient(
         180deg,
         rgb(77, 146, 160, 0) 40%,
         rgb(0, 212, 255)
      ),
      url("src/Studying-rafiki-1.png");
   background-size: cover;
}
.cont .contcont .bac2 {
   background-image: linear-gradient(
         180deg,
         rgb(95, 245, 173, 0) 40%,
         rgb(117, 255, 87)
      ),
      url("src/Studying-rafiki.png");
   background-size: cover;
}

.cont .bac1 .title,
.cont .bac2 .title {
   float: right;
   margin: 80% 20px;
}
